<p>Welcome to <b>Twinkle</b> where you can choose your favourite songs!</p><hr color="black" style="max-width: 500px;">
<p>Go to <a routerLink="/albums" style="color: black;">Albums</a> to add a new album.</p>
<p>Go to <a routerLink="/songs" style="color: black;">Songs</a> to add a new song.</p>
<p>Go to <a routerLink="/users" style="color: black;">Users</a> to check who added the songs.<p>
<p>Go to <a routerLink="/leaderboard" style="color: black;">Leaderboard</a> to check the current leaderboard.<p>
<p>Go to <a routerLink="/albumspop" style="color: black;">Albums Popularity</a> to check the most popular albums.<p></p>
<p>Go to <a routerLink="/vote" style="color: black;">Vote!</a> to vote for your favourite songs.<p></p>