<table id="t01">
    <tr>
      <th scope="col">Album name</th>
      <th scope="col">Album ID</th>
    </tr>
    <tr>
      <td>
        <!-- <form [formGroup]="createAlbumForm"> -->
          <!-- <input type="text" id="album_name" formControlName="name" placeholder="Album name"> -->
          <input type="text" id="album_name" [(ngModel)]="album_name" placeholder="Album name">
        <!-- </form> -->
      </td>
      <td><button type="submit" (click)="createAlbum()">Add</button></td>
    </tr>
    <tr>
      <td style="background-color: black;"></td>
      <td style="background-color: black;"></td>
    </tr> 
    <tr *ngFor="let e of albums">
      <td>{{ e.album_name }}</td>
      <td>{{ e.album_id }}</td> 
    </tr>    
</table>
