<table id="t01">
    <tr>
      <th>Song name</th>
      <th>Album name</th>
      <th>Author</th>
      <th>Username</th>
      <th>Song ID</th>
    </tr>
    <tr>
      <td>
          <input type="text" id="title" [(ngModel)]="title" placeholder="Title">
      </td>
      <td>
        <datalist id="albums" *ngFor="let e of songs">
          <option  value="{{ e.album_name }}"></option> <!--Tutaj trzeba podać wszystkie istniejące albumy-->
        </datalist>
      </td>
      <td>
        <input type="text" id="author" [(ngModel)]="author" placeholder="Author name">
      </td>
      <td>
        <input type="text" id="username" [(ngModel)]="username" placeholder="Username">
      </td> <!--Tutaj użytkownik musi podać swój username-->
      <td><button type="button" (click)="createSong()">Add</button></td>
  </tr>
  <tr>
      <td style="background-color: black;"></td>
      <td style="background-color: black;"></td>
      <td style="background-color: black;"></td>
      <td style="background-color: black;"></td>
      <td style="background-color: black;"></td>
  </tr> 
  <tr *ngFor="let e of songs">
    <td>{{ e.title }}</td> <!--Tutaj trzeba podać odpowiadający username-->
    <td>{{ e.album_id }}</td>
    <td>{{ e.author_id }}</td>
    <!-- <td>{{ e.username }}</td> Tutaj trzeba podać odpowiadając song_id -->
    <!-- <td>{{ e.title }}</td> -->
  </tr>    
</table>
